language: python

matrix:
    include:
        - os: linux
          python: 3.7
          dist: xenial
        - os: linux
          python: 3.6
        - os: linux
          python: 3.5
install:
  - pip install -r requirements.txt
script:
  - python Notebooks/test.py